


/*new css by me*/
.product_list_style{
    border: 1px solid #d0d0d0;
    margin: 10px 0px;
    padding-top: 15px;
}

.product_details_height{
    height: 100px;
}

.product_details_height h3{
    font-size: 14px!important
}

.product_image_back {
    height: 85px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position-x: center!important;
    background-position-y: center!important;
}


.product-box1 .product-img-holder {
    min-height: 260px;
    display: block;
}

.product_image_back_grid{
    height: 224px;
}

.product_image_back_list{
    height: 226px;
    width: 226px;
}


.product_image_detail_big{
    height: 500px;
    width: 500px
}


.product_image_detail_small{
    height: 78px;
    width: auto;
}

.product_image_detail{
    padding: 10px;
}

.product_detail_attr{
    margin: 0px;
    margin-top: -7px;
    font-weight: bold;
    background-color: white;
    text-transform: uppercase;
    margin-bottom: 4px;
}


.productblock{
    padding: 10px;
    border: 1px solid rgb(255, 214, 88);
    margin-bottom: 30px;
}


.cart-area > ul > li .media .cart-content ul li:first-child {
    width: 180px;
}

b.barcomb-list {
    margin: 0px 5px;
    color: #000;
}

.modal-dialog .product-details1-area .inner-product-details-left ul li {
    margin: 16px 0 0 0;
    padding: 5px 0px 5px 0px;
}

.product-details1-area .inner-product-details-left ul li:hover {
    border: 2px solid #ff0000;
}

.product-details1-area .inner-product-details-left ul .active {
    border: 2px solid #ff0000;
}

.product-details1-area .inner-product-details-left .tab-content {
    border: 0px solid red;
    margin-top: 5px;

}

.product_attr_h2{
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid #000;
}

.product_attr a {
    color: #4f4f4f;
    text-decoration: none;
}

.spacification_product_details ul > li{

    background: white!important;
}

.cart_image_block{
    height: 100px;width: auto;    margin: 0 auto;
}


.showonmobile{
    display: none;
}


@media only screen and (max-width: 479px) {

    .showonmobile{
        display: block;
    }

    .main-slider2{
        margin-top: 52px;
    }

    .inner-page-banner-area .breadcrumb-area{
        top:25px;
        padding: 0px 5px;
    }

    .product_image_detail_big{
        width: 306px;
        height: 306px;
    }
    .cart_image_block{
        width: auto; 
        margin: 0 auto;
        height: auto;
    }
    .product-box1 .product-img-holder a img {
        width: auto;
    }
    .product-box1 .product-img-holder {
        display: inline;
        padding: 5px;
    }
    .product_image_back_list {
        height: 190px;
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .main-slider2{
        margin-top: 52px;
    }


    .inner-page-banner-area .breadcrumb-area{
        top:25px;
        padding: 0px 5px;
    }
    .product_image_detail_big{
        width: 306px;
        height: 306px;
    }
    .cart_image_block{
        width: auto;   
        margin: 0 auto;
        height: auto;
    }

    .product_image_back_list {
        height: 190px;
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .main-slider2{
        margin-top: 52px;
    }

    .inner-page-banner-area .breadcrumb-area{
        top:25px;
        padding: 0px 5px;
    }
    .product_image_detail_big{
        width: 306px;
        height: 306px;
    }
    .cart_image_block{
        width: auto;    
        margin: 0 auto;
        height: auto;
    }
    .product-box1 .product-img-holder {
        display: inline;
    }
    .product_image_back_list {
        height: 190px;
        width: auto;
    }

}

.cart_header_stick{
    display: none;
    right: 47px;
    top: 11px;
    position: absolute;
    font-size: 24px;
    color: white;
}

.cart_header_stick span {
    background: #f01211;
    width: 22px;
    height: 22px;
    float: right;
    border-radius: 50%;
    margin-top: -8px;
    font-size: 12px;
    color: white;
    line-height: 21px;
    margin-left: -2px;
    text-align: center;
}

.stick .cart_header_stick{
    display: block;
}

.order-sheet b{
    font-size: 12px;
}

.availble_credit{
    border: 2px solid;
} 

.availble_credit {
    border: 0px solid;
    background: #dddddd;
    margin-top: -10px;
    padding: 10px 8px;
    color: black;
    margin: -10px -3px;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
}
.address_block p {
    margin: 10px 10px;
}


.order_box{
    padding: 6px;
    padding-bottom: 11px!important;
    height: 160px;
    border-radius: 5px;
    border: 1px solid;
}
.order_box li{
    line-height: 19px!important;
    padding: 7px!important;
    border: none!important;
    list-style-type: none;
}

.order_box li i{
    float: left!important;
    line-height: 19px!important;
    margin-right: 13px!important;
}

.order-details-page-area{
    padding:50px 0;
}

.myisotop1:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #b6b6b6;
    border-top: 1px solid #b6b6b6;
    height: 4px;
    background: transparent;
    width: 73%;
    right: 0;
    top: 35%;
    z-index: 1;
}

.product_highlights span{
    width: 100px;
    float: left;
}

.product_variation_list{
    margin-bottom: 20px;
}

.product_variation_list li.active{
    background: black;
    color:white;
}
.product_variation_list li.active a{
    background: black;
    color:white;
}

.product_details_height p, .product_attr_small{
    font-size: 8px;
    margin-bottom: 9px;
}


.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin: 20px 0;
    margin-left: 20px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {

    border-bottom: 1px solid #b6b6b6;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}



.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}


.searchholder .btn{
    float: right;

}


.search-input, .search-input.typeahead  {
    position: absolute!important;
    top: -32px!important;
    left:auto!important;
    right: 20px!important;
    z-index: 10!important;
    height: 50px!important;
    width: 604px!important;
    background: rgba(17, 17, 17, 0.95);
    border: 1px solid #111111!important;
    padding: 5px 30px 8px!important;
    color: #ffffff!important;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    border-radius: 45px!important;
    display: none;
}

.searchholder{
    height: auto;
    float: left;
    width: 100%;
}

.serachbox-image{
    height:50px;width:50px;float:left;
    margin-right: 10px;
}
.empty-message{
    padding:10px;
    text-align: left;
}

.cart-area1 > ul {
    border-top: 3px solid #111111;
    padding: 15px 15px 0 15px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.98);
    width: 100%;
    z-index: 99999;
    transform: initial;
    opacity: 1;
    top:0;
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.cart-area1 > ul > li .media .cart-content ul li:first-child {
    width: 132px;
}

.btn-checkout1 {
    background: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #070707;
    /* letter-spacing: 2px; */
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid #111111;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.cartopen b{
    background: red;
    border-radius: 45px;
    color: #ffffff;
    height: 19px;
    position: absolute;
    top: -1px;
    width: 20px;
    font-size: 12px;
    right: 4px;
    line-height: 20px;
}


.popup_fabric{
    height: 450px;
    width: 100%;
    float: left;
    position: relative;
    margin-top: -15px;
}



@media only screen and (max-width: 479px) {
    .tt-menu {
        width: 100%;
        margin: 20px 0;
        margin-left: 0px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .mobile_model_search{
        background: white;
        border: none;
        webkit-box-shadow: 0 0px 00px rgba(0,0,0,.5); 
        box-shadow: 0 0px 0px rgba(0,0,0,.5); 
    }

    .model_search{
        background: white;
        border: none;

    }
    .popup_fabric {
        height: 300px;
        width: 300px;
        float: left;
        position: relative;
    }

}

.header-area-style2 .header-bottom {
    background: white;
}

.header-area-style2 .header-top {
    background: black;
}



.header-area-style2 .header-top .account-wishlist li a {
    color: white;
}

.header-area-style2 .header-top .account-wishlist li:hover a {
    color: gray;
}







.stick .main-menu-area nav ul .active > a {

}

.main-menu-area nav ul > li > ul > li > a:hover {
    background: #ffff;
}

.model_tab_title{
    float: left;
    width: 100px;

}

.mean-container .mean-bar a.logo-mobile-menu {
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #ffffff;
    height: 3px;
    margin-top: 3px;
    color: #fff;
}
.mean-container a.meanmenu-reveal {
    float: none !important;
    position: absolute;
    color: white;
}


.custome_summary_popup tr{
    border-bottom: 1px solid;
}

.custome_summary_popup td{
    text-align: left;
    width: 50%;
    padding: 5px;

}

.custome_summary_popup th{
    text-align: right;
    text-align: right;
    padding-right: 12px;
    width: 50%;
    padding: 5px;
}

.custome_summary_popup table {
    width: 100%;
}



.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.text_center{
    text-align: center;
}
.cart-page-area {
    padding: 20px 0;
}

.cart-page-area .cart-page-top table {
    margin-bottom: 0px;
    border-bottom: 1px solid #b6b6b6;
}

.cart-page-area .cart-page-top {
    margin-bottom: 0px; 
    border: 1px solid #b6b6b6;
    padding: 0 0 0px; 
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #000;
}

.checkout_button_next{
    background: red;
}

.checkout_button_pre{
    background: white;
    color: black;
}

.product-details2-area .product-details-tab-area ul > li {
    margin: -1px;
    display: inline-block;
    padding: 10px 0;
    background: #7a7a7a;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    /* border: none; */
    border-radius: 0;
    background: red;
}
.btn{
    /*border: 1px;*/
    border-radius: 0px;
}

.inner-page-banner-area .breadcrumb-area h1 {
    letter-spacing: 4px;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #d92229;
}

.inner-page-banner-area {
    background: #ffeb3b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    min-height: 50px;
    max-height: 83px;
    padding: 10px;
    text-transform: uppercase;
}

.inner-page-banner-area .breadcrumb-area ul li a {
    color: #000000;}

.inner-page-banner-area .breadcrumb-area {
    position: initial;
    z-index: 2;
    top: 13px; 
    left: 0;
    right: 0;
}

.shop-page-area {
    padding: 10px 0;
}


.productlistborder{
    border:3px solid #EEEEEE;
}

.login-registration-page-area .login-registration-field label {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}

.login-registration-page-area select{
    width: 100%;height: 40px;padding: 5px;
}

.bith_date_select{
    width: 28%!important;
}

.bith_date_select_year{
    width: 35%!important;
}

.product-box1 .product-img-holder {
    position: relative;
    min-height: 260px;
    display: block;
}

.contact-us-page-area .contact-us-right ul .con-clock{
    content: "\f095";
    font-family: fontawesome;
    position: absolute;
    left: 18px;
    margin-top: 3px;
    /* top: 2px; */
    font-size: 20px;
    color: #111111;
}

.timeing_open{
    float: left;
    width: 107px;
    /*font-size: 10px;*/
}

.timeing_opensm{
    /*font-size: 12px;*/
}


.footer-area {
    padding: 93px 0 0;
    background: #000000;
}

.footer-area .footer-area-top .footer-box h3 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-size: 20px;
}


.footer-area .footer-area-top .footer-box .info-list li a {
    color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.footer-area .footer-area-top .footer-box {
    padding-bottom: 30px;
    color: white;
}

.footer-area .footer-area-top .footer-box .footer-social li a {
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    height: 32px;
    border: 1px solid #f3f3f3;
    display: block;
    text-align: center;
    background: transparent;
}

.header-top-inner-top a{
    color:black;
}

.header-top-inner-top i{
    color:black;
}

.header-top-inner-top{
    background: white;
}

.footer-area .footer-area-top .footer-box .footer-social li a i {
    color: #fff7f7;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.about-us-page-area {
    padding: 80px 0 50px;
}

.brand-area {
    padding: 30px 0;
    text-align: center;
}

.category-menu-area ul li {
    border:none;
}

.title-sidebar {
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 22px;
    color: #212121;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.header-area-style2 .header-bottom .main-menu-area nav > ul > li {
    padding: 10px 0;
}


.shop-page-area .title-sidebar {
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 22px;
    color: #212121;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;

    line-height: 27px;
    margin-right: 40px;
}

.category-menu-area ul li a {
    display: block;
    padding: 8px 0px 7px 15px;
}

.product-box1 .product-content-holder h3 {
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.activecat {
    border-color: red!important;
    background: red;
    color: white!important;
}


.productbuttonscontainer a {
    margin: 0 2px 0 0;
    display: inline-block;
    border: 1px solid #111111;
}

.productbuttonscontainer button {
    margin: 0 2px 0 0;
    display: inline-block;
    border: 1px solid #111111;
}
.productbutton {
    line-height: 30px;
    text-align: center;
    height: 32px;
    padding: 0 5px;
    background: transparent;
    display: block;
    color: #111111;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.videotext{
    text-align: center;
    font-size: 30px;
    color:white;
}

#background {
    position: relative;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.processcirclearea{

}

.processcirclearea .container{
    margin-top: -470px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 479px) {
    .processcirclearea .container{
        margin-top: 10px
    }
    .processcirclearea{
        margin-top: 50px;
    }
    .productbutton {
        line-height: 21px;
        float: left;
        text-align: center;
        height: 21px;
        padding: 0 6px;
        background: transparent;
        display: block;
        color: #111111;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-weight: 600;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

    .product-box1 .product-img-holder {
        display: block;
        padding: 5px;
        min-height: 200px; 
    }

}


.product-box1{
    height: 435px;
}


.product-box1 .product-img-holder {
    display: block;
    padding: 5px;
    min-height: 250px; 
}

@media only screen and (max-width: 767px) {
    .processcirclearea .container{
        margin-top: 10px
    }
    .processcirclearea{
        margin-top: 50px;
    }
    .productbutton {
        line-height: 21px;
        float: left;
        text-align: center;
        height: 21px;
        padding: 0 6px;
        background: transparent;
        display: block;
        color: #111111;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-weight: 600;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .product-box1 .product-img-holder {
        display: block;
        padding: 5px;
        min-height: 200px; 
    }
}
.advantage2-area {
    padding: 40px 0 40px;
    background: transparent;
}

.footer-area .footer-area-top {
    padding-bottom: 0px; 
}

.askpriceform input{
    margin-bottom: 10px;
}


.product-box1 .product-content-holder h3 a {
    color: #212121;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    height: 100px;
    float: left;
    width: 100%;
}


.productbuttonscontainer a {
    color: white;
    margin: 0 2px 0 0;
    display: inline-block;
    border: 1px solid #d92229;
    background: #d92229;
}

.productbuttonscontainer button {
    margin: 0 2px 0 0;
    display: inline-block;
    border: 1px solid #ffeb3b;
    background: #ffeb3b;
}

.btn-apply-coupon {
    background: #d9242b;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #d92229;

}


.btn-send-message {
    background: #d92229;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 40px;
    border: 1px solid #d92229;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.panel-default>.panel-heading {
    color: #1a1818;
    background-color: #ffeb3b;
    border-color: #ffeb3b;
}

.header-area-style3 .header-bottom .category-menu-area .category-menu-area-inner {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 48px;
    background: #ffffff;
    width: 263px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: 1px solid #d92229;
}   

.twitter-typeahead{
    width:100%;
}

.textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}
.cart-area > a > span {
    background: #111111;
    border-radius: 45px;
    color: #ffffff;
    height: 20px;
    padding: 0 0px;
    position: absolute;
    top: -10px;
    width: 20px;
    font-size: 12px;
    right: -10px;
    line-height: 20px;
    text-align: center;
}

.searchtitle{
    float:left;
    line-height: 40px;
    font-size: 14px;
}

.searchbody{

}


.searchtext{
    line-height: 40px;
}
.searchbody .input-group{
    text-align: center;
    margin-top: 5px!important;
}

.searchbutton{
    margin-top: 5px!important;
    background: #d92229;
    color: white;
}

.stick .header-bottom{
    background: #fff;
}

.offer-area1 #countdown2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    text-align: center;
    z-index: 1;
}

.offer-area1 #countdown2 .countdown-section {
       padding-top: 7px;
    height: 71px;
    width: 65px;
    background: #ffeb3b;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.offer-area1 #countdown2 .countdown-section h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
}

.offer-area1 #countdown2 .countdown-section p {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

.movieblockhome{
    background: #d92229;
    padding: 50px 0px;
}

.movieblockhome .brand-area-box-l h1{
    color: #ffeb3b;
}

.movieblockhome .brand-area-box-l span{
    color: #fff;
}

.movieblockhome .brand-area-box-l p{

    letter-spacing: normal;
}

.movieblockhome .btn-shop-now-fill {
    background: #ffeb3b;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    letter-spacing: 4px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #111111;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.breadcrumb-area li {
    color: black!important;
}

.productlistborder.activeproduct {
    border-color: #d92229;
}


.homeproductblock.activeproduct {
    border: 3px solid #ffeb3b;
}
.product-box1 .product-content-holder h3 div{
    color: #212121;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    height: 100px;
    float: left;
    width: 100%;
}

select.productsveriantselection {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}

.addedtocard{
    position: absolute;
    display: none;
    position: absolute;
    display: none;
    background: white;
    color: #ffeb3b;
    z-index: 1;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: 3px;
    right: 3px;
    background: #d92229;
}

.activeproduct .addedtocard{
    display: block;
}




.product-box1 .product-content-holder span {
    color: #111111;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}


.theaterblock{
    text-align: center;
}
.theaterblock table{
    width: auto;
    display: inline-block;
} 
.theaterblocktext{
    color:black;
}

h5.theaterblocktext {
    margin-top: 0px;
    text-align: center;
    font-size: 9px;
    background: #000;
    color: white;
    height: 20px;
    line-height: 20px;
    display: none; 
    border-radius: 4px;
}

.seaticon.active {
    background-color: #FFF176;
    box-shadow: none;

}

.seaticon:hover {
    background-color: #FFF176;
    box-shadow: none;
}

.seaticon:hover .theaterblocktext{
    background-color: #8BC34A;
    color:#fff;
    display: block;

}

.seaticon.active .theaterblocktext{
    background-color: #8BC34A;
    color:#fff;
    display: block;

}

.seaticon.suggestion .theaterblocktext{
    background-color: #edd608;
    color:#fff;
    display: block;
}

.seaticon.active .theaterblocktext{
    background-color: #8BC34A;
    color:#fff;
    display: block;

}

.seaticon.active .theaterblocktext{
    background-color: #8BC34A;
    color:#fff;
    display: block;
}



.theaterpricetable td{
}

.theaterpricetable .seattext{

}

.theaterblock td{
    padding: 0px!important;
    width: 30px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}
.theaterblockseat {

}

.theaterpricetable th {

}

.pricetotal {
    background: #d92229;
    height: 29px;
    line-height: 16px;
    color: white;
}
.theaterblock {
    text-align: center;

}

.theaterblock::-webkit-scrollbar {
    width: 10px;
}

.theaterblock::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.theaterblock::-webkit-scrollbar-thumb {
    background: #888;
}

.theaterpricetable.pricescroll {
    overflow-y: scroll;
    height: 250px;
}

.theaterscreen{
    float: left;
    width: 100%;
    height: 24px;
    background: #EEEEEE;
    border-top-left-radius: 32px;
    border-top-right-radius: 37px;
    text-align: center;
    line-height: 24px;
    font-size: 17px;

}

.seatresurved {
    opacity: 1!important;
    background: #BDBDBD!important;
}

.seatbooked{
    opacity: 0.4;
    opacity: 1!important;
    background: orange!important;
}

.instructionblock{

}

.checkoutheader li{
  float: inherit;
    display: inline-block;
}
.nav-tabs {
    border-bottom: 1px solid #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom-color: transparent;
}

.formtextwidth {
    width: 151px;
    text-align: left;
}