.feature-box p {
    margin: 8px 0 0;
    color: #000;
    font-size: 17px;
}

.item-thumb .owl-dot span {
    position: relative;
    display: block;
    background-size: cover!important;
    background-position: center center!important;
    width: auto;
    height: 100%;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.16);
}

.item-thumb .owl-dot span h3{
    background: #4CAF50;
    color: white;
    font-size: 15px;
}

.item-thumb .owl-dot {
    width: 31.33333%;
    display: inline-block;
    justify-content: center;
    height: 220px;
    cursor: pointer;
    padding: 15px;
    background-color: transparent;
}


.menu-carousel .heading-block h3 {
    font-size: 34px;
    line-height: 34px;
}


.section {
    position: relative;
    margin: 60px 0;
    padding: 60px 0;
    background-color: #8CC646;
    overflow: hidden;
}
.nopadding {
    padding: 0!important;
}

.notopmargin {
    margin-top: 0!important;
}




.dessert-menu .item-thumb .owl-dot:nth-of-type(1) span {
    background-image: url(../res/images/review/Rajini.jpg);
    background-size: 100%!important;
}
.dessert-menu .item-thumb .owl-dot:nth-of-type(2) span {
    background-image: url(../res/images/review/Ilayaraja.jpg);
    background-size: 100%!important;
}

.dessert-menu .item-thumb .owl-dot:nth-of-type(3) span {
    background-image: url(../res/images/review/SPB.jpg);
    background-size: 100%!important;
}

.dessert-menu .item-thumb .owl-dot:nth-of-type(4) span {
    background-image: url(../res/images/review/Sunil-Gav.jpg);
    background-size: 100%!important;
}

.dessert-menu .item-thumb .owl-dot:nth-of-type(5) span {
    background-image: url(../res/images/review/Anil-Kumble.jpg);
    background-size: 100%!important;
}

.dessert-menu .item-thumb .owl-dot:nth-of-type(6) span {
    background-image: url(../res/images/review/Amrish.jpg);
    background-size: 100%!important;
}

.dessert-menu  .item-thumb .owl-dot {
    width: 31.33333%;
    display: inline-block;
    justify-content: center;
    height: 173px;
    cursor: pointer;
    padding: 15px;
    background-color: transparent;
}

.double-line, .line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 17px 0;
    border-top: 1px solid #eee;
}


a.cartheadericon span {
    background: red;
    height: 20px;
    width: 20px;
    position: absolute;
    display: inline!important;
    text-align: center;
    border-radius: 50%;
    margin-top: -9px;
    color: white;
}

.reservation_buttons div{
    background: red;
    padding: 5px 10px;
    margin-top: -5px;
    color: white;
    border-radius: 30px;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#primary-menu ul li>a {
    display: block;
    line-height: 22px;
    padding: 37px 7px;
    color: #444;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Raleway,sans-serif;
    -webkit-transition: margin .4s ease,padding .4s ease;
    -o-transition: margin .4s ease,padding .4s ease;
    transition: margin .4s ease,padding .4s ease;
    margin-top: -7px;
}

.termandconditon h3{
    font-size: 15px!important;
}

.termandconditon p {
    font-size: 13px!important;
    margin: 0px;
    margin-top: 8px!important;
}

.bgcolor, .button.button-3d:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime):hover, .process-steps li.active a, .process-steps li.ui-tabs-active a, .sidenav > .ui-tabs-active > a, .sidenav > .ui-tabs-active > a:hover, .owl-carousel .owl-nav [class*=owl-]:hover, .page-item.active .page-link, .page-link:hover, .page-link:focus, .irs-bar, .irs-from, .irs-to, .irs-single, .irs-handle > i:first-child, .irs-handle.state_hover > i:first-child, .irs-handle:hover > i:first-child {
    background-color: #8CC646 !important;
}

.color, .top-cart-item-desc a:hover, .portfolio-filter.style-3 li.activeFilter a, .faqlist li a:hover, .tagcloud a:hover, .dark .top-cart-item-desc a:hover, .iconlist-color li i, .dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a, .dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li.current > a, .overlay-menu #primary-menu.dark > ul > li:hover > a, .overlay-menu #primary-menu.dark > ul > li.current > a, .nav-tree li:hover > a, .nav-tree li.current > a, .nav-tree li.active > a {
    color: #8cc646 !important;
}

.colordarkgreen{
    background: #0D6132!important;
}

.colorlightgreen{
    background: #8CC646!important;
}

.colorlightyellow{
    background: #FBB316!important;
}


.txtcolordarkgreen{
    color: #0D6132!important;
}

.txtcolorlightgreen{
    color: #8CC646!important;
}

.txtcolorlightyellow{
    color: #FBB316!important;
}


ul.tab-nav:not(.tab-nav-lg) li a {
    padding: 16px 9px;
    height: 71px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}


