.mainsitelogo{
    height: 85px;
    margin-top: -27px;
}

.category-menu-title {
    background: #d92229;
    padding: 14px 10px 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 0;
    margin-top: 4px;
}

.stickheadersitelogo{
    height: 60px;
    margin-top: -9px
}

.header-area-style3.stick .hideonstickheader{
    display: none;
}

.header-area-style3 .showonstickheader{
    display: none;
}

.header-area-style3.stick .showonstickheader{
    display: block;
    padding: 10px 0px;
}

.header-area-style3 .header-bottom .showonstickheader .header-cart-area {
    display: block; 
}


.search-area .input-group {
    width: 102%;
    margin: 0 auto;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}

.search-area .input-group .form-control {
    height: 42px;
    color: #111111;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.search-area .input-group .input-group-btn .btn-group .btn-metro-search {
    padding: 10px 12px;
    border-radius: 0;
    background: #f1f1f1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.search-area .input-group {
    width: 102%;
    margin: 0 auto;
    border-top: 1px solid #ffeb3b!important;
    border-bottom: 1px solid #ffeb3b!important;
    border-left: 1px solid #ffeb3b!important;
    padding: 0px 0px 0px 0px;
    border: 1px solid #ffeb3b;
}

.btn-group .btn-metro-search{
    background: #ffeb3b!important;
}

.maincartarea{

}

.cartheadericon{

}

.header-cart-area > li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    margin-right: 15px;
    top: 5px;
}

.header-area-style3 .header-top .header-top-inner-top {
    background: transparent;
    border-bottom: 1px solid #b6b6b6;
    background: #ffeb3b;
    padding: 0;
    border: 1px solid #ffeb3b;
}
.cart-area {
    /* padding-bottom: 15px; */
    position: relative;
    background: #d92229;
    padding: 10px;
    border-radius: 11px;
    /* border: 3px solid #ffeb3b; */
    display: inline;
    /* margin-top: -21px; */
}

.cart-area > a {
    color: #ffffff;
    font-size: 24px;
}


/*//slider css start/*/

.main-slider2 .slider-3 h2 {
    right: 10%;
    position: relative;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 50px;
}

.btn-shop-now-fill-slider {
    background: #d92229;
}


.main-slider2 .slider-3 h2 span {
    font-weight: 600;
    color: #ffeb3b;
    font-size: 60px;
}


span.keywordfooter {
    text-transform: capitalize;
     color: white; 
}

.footertable{
    text-transform: uppercase;
}

.footertable tr{
    border-bottom: 1px solid #000;
}

.footertable th{
    padding: 0px 10px;
}


.footertable td, .footertable th{
      padding: 20px 10px;
}

.productlistmeddile{
      background: #EEEEEE;
    height: 265px!important;
    padding: 20px 0px;
}


.cart-content .cart-area-inc{
    width: 100px;
    text-align: center;
    border: 1px solid#ffeb3b;
    margin-top: -9px;
}

.overflow-y-400{
    overflow-y: auto;
    height: 400px;
}